<h1>Account</h1>

<p ng-style="account.msgStyle">{{account.message}}</p>

<div class="pure-g">
    <div class="pure-u-1 pageSection">
        <h3>Email</h3>
        <form class="pure-form">
            <fieldset>
                <input type="email" placeholder="Email" ng-model="account.account.email">
            </fieldset>
        </form>
        <h3>Password</h3>
        <form class="pure-form pure-form-stacked">
            <fieldset>
                <!-- input type="password"
                       placeholder="Current Password"
                       ng-model="account.changePass.oldPassword"
                       ng-if="account.function == 'current'" -->
                <input type="password" placeholder="New Password" ng-model="account.changePass.newPassword">
                <input type="password" placeholder="Confirm New Password" ng-model="account.changePass.confirmPassword">
                <button class="pure-button" ng-click="account.updateAccount()" ng-if="account.function != 'create'">Update Account</button>
                <span ng-if="account.error != ''" class="errorMsg">{{account.error}}</span>
            </fieldset>
        </form>
    </div>
</div>


<div class="pure-g" ng-if="account.isAdmin">
    <div class="pure-u-1 pageSection">
        <h3>Roles</h3>
        <form class="pure-form">
            <ul>
                <li ng-repeat="(key, role) in account.account.roles | orderBy: 'role'">{{role.role}}</li>
            </ul>
            <fieldset>
                <input type="text" placeholder="Add Role" ng-model="account.newRole">
                <button class="pure-button" ng-click="account.addRole()">Add Role</button>
            </fieldset>
        </form>
    </div>
</div>


<div class="pure-g">
    <div class="pure-u-1 pageSection">
        <h3>Information</h3>
        <form class="pure-form pure-form-stacked">
            <fieldset>
                <input type="text" placeholder="Name" ng-model="account.account.name">
                <div ng-switch="account.function">
                    <button class="pure-button" ng-click="account.createUser()" ng-switch-when="create">Create User</button>
                    <button class="pure-button" ng-click="account.updateInfo()" ng-switch-default>Update Info</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

