<h1>Account</h1>

<h3>Email</h3>
<div class="pure-g">
    <form class="pure-form">
        <fieldset>
            <input type="email" placeholder="Email" ng-model="account.account.email">
            <button class="pure-button" ng-click="account.update()">Update Email</button>
        </fieldset>
    </form>
</div>

<h3>Password</h3>
<div class="pure-g">
    <form class="pure-form pure-form-stacked">
        <fieldset>
            <input type="password" placeholder="Current Password" ng-model="account.changePass.oldPassword">
            <input type="password" placeholder="New Password" ng-model="account.changePass.newPassword">
            <input type="password" placeholder="Confirm New Password" ng-model="account.changePass.confirmPassword">
            <button class="pure-button" ng-click="account.changePassword()">Change Password</button>
        </fieldset>
    </form>
</div>

<h3>Information</h3>
<div class="pure-g">
    <form class="pure-form pure-form-stacked">
        <fieldset>
            <input type="text" placeholder="Name" ng-model="account.account.name">
            <button class="pure-button" ng-click="account.update()">Update</button>
        </fieldset>
    </form>
</div>

