<h1>Group Permissions</h1>

<table class="pure-table">
    <thead>
    <tr>
        <th>Device</th>
        <th>Zone</th>
        <th>Can View</th>
        <th>Can Change</th>
    </tr>
    </thead>
    <tr ng-repeat="device in groupPerms.devices">
        <td>
            {{device.name}}
        </td>
        <td>
            {{groupPerms.zones[device.zoneId]}}
        </td>
        <td style="text-align: center;">
            <input type="checkbox" ng-checked="device.read" ng-click="groupPerms.permClicked(device._id, 'read')">
        </td>
        <td style="text-align: center;">
            <input type="checkbox" ng-checked="device.update" ng-click="groupPerms.permClicked(device._id, 'update')">
        </td>
    </tr>
</table>
