<h1>House Details</h1>

<in-place-edit placeholder="House Name" in-value="house.house.name" on-save="house.renameHouse(newValue)"></in-place-edit>

<div>
    <div class="pure-g pageSection">
        <div class="pure-u-12-24">
            <div ui-view="houseGroups"></div>
        </div>
        <div class="pure-u-12-24">
            <div ui-view="houseZones"></div>
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1 pageSection">
            <div ui-view="houseDevices"></div>
        </div>
    </div>
</div>
