<div>
    <div class="pure-g">
        <div class="pure-u-1-4"></div>
        <div class="pure-u-1-2">
            <p class="atha">Atha</p>
        </div>
        <div class="pure-u-1-4"></div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1-4"></div>
        <div class="pure-u-1-2">
            <h2>Sign In</h2>
            <form class="pure-form-stacked">
                <fieldset>
                    <input class="block" type="email" name="email" placeholder="email" ng-model="starter.email">
                </fieldset>

                <fieldset>
                    <input class="block" type="password" name="password" placeholder="password" ng-model="starter.password">
                </fieldset>
                <p></p>

                <button type="submit" class="pure-button pure-button-primary" ng-click="starter.login()">
                    Sign In
                </button>
            </form>
        </div>
        <div class="pure-u-1-4"></div>
    </div>
</div>

