
<h1>Users</h1>

<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tr ng-repeat="user in users.users">
        <td>{{user.email}}</td>
        <td>{{user.name}}</td>
        <td>
            <button type="button">
                <i class="material-icons">edit</i>
            </button>
            <button type="button" ng-click="users.removeUser(user._id)">
                <i class="material-icons">delete</i>
            </button>
        </td>
    </tr>
    <caption>Total: {{users.users.length}}</caption>
</table>

