
<h1>Users</h1>

<table class="pure-table">
    <tr>
        <th>Room</th>
        <th>Name</th>
        <th>Address</th>
        <th>Dimmable</th>
        <th>Level</th>
        <th>Status</th>
        <th></th>
    </tr>
    <tr ng-repeat="light in lights.lights">
        <td>{{light.roomName}}</td>
        <td>{{light.name}}</td>
        <td>{{light.address}}</td>
        <td>{{light.isDimmable}}</td>
        <td>{{light.level}}</td>
        <td>{{light.status}}</td>
        <td><button type="button" ng-click="lights.removeLight(light._id)">X</button></td>
    </tr>
    <caption>Total: {{lights.lights.length}}</caption>
</table>

